*.cpp       filter=git-crypt diff=git-crypt
*.hpp       filter=git-crypt diff=git-crypt
*.h       filter=git-crypt diff=git-crypt
*.cppm      filter=git-crypt diff=git-crypt
*.md        filter=git-crypt diff=git-crypt
*.txt       filter=git-crypt diff=git-crypt
*.json      filter=git-crypt diff=git-crypt
*.yml       filter=git-crypt diff=git-crypt
*.yaml      filter=git-crypt diff=git-crypt
*.xml       filter=git-crypt diff=git-crypt
*.py        filter=git-crypt diff=git-crypt
*.clang-format        filter=git-crypt diff=git-crypt

.gitignore      !filter !diff
.gitattributes  !filter !diff